header{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: crimson;
}
.menu{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}