---
import Layout from '../layouts/Layout.astro';
import Icon from '../components/icon.astro';

---

<Layout title="Adrycode">
	<main>
		<div class="container">
			<h1 class="title">Adryan Oviedo<span class="icon"><Icon/></span></h1>
			<p>Hey, I am Adrian Oviedo, a fanatical open sourceror.</p>
			<div>
				<>I am: </p>
				<p>Working at  Echate_esto.</p>
				<p>Creating Web in Astro, React, NextJs and Strapi</p>
				<p>Core team member of Echate_esto.</p>
			</div>
			<p>"Dreaming up ideas and making them come true is where my passion lies."</p>
			<p>Outside of programming, I enjoy doing desingns. Some of my desings can be found on Instagram.</p>
			<hr class="divider">
			<p>Find me on</p>
			<p class="socialMedia">
				<a href="https://github.com/AdryanOvie2">
					<span>
						<box-icon type='logo' name='github' color='#f0db4f'></box-icon>
					</span>
					Github
				</a>
				<a href="https://twitter.com/AdryanOvie2">
					<span>
						<box-icon name='twitter' type='logo' color='#f0db4f' ></box-icon>
					</span>
					Twitter
				</a>
				<a href="https://www.linkedin.com/in/oviedoadrian/">
					<span>
						<box-icon name='linkedin' type='logo' color='#f0db4f' ></box-icon>
					</span>
					Linkedin
				</a>
				<a href="https://www.instagram.com/adry_echate_esto/#">
					<span>
						<box-icon name='instagram' type='logo' color='#f0db4f' ></box-icon>
					</span>
					Instagram
				</a>
			</p>
			<p>I hope you enjoy my works :)</p>
		</div>
	</main>
</Layout>

<style>
	main {
		padding: 2.5rem;
		display: flex;
		place-items: center;
		justify-content: center;
		line-height: 1.7;
	}
	.container{
		width: 70ch;
		margin: auto;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.divider{
		width: 10%;
		margin: auto;
		border-color: var(--color-jsB);
	}
	.socialMedia{
		display: flex;
		flex-wrap: wrap;
		gap: .5rem;
		justify-content: space-between;
	}
	.socialMedia a{
		display: flex;
		align-items: center;
		gap: .3rem;
	}
	.socialMedia a span{
		display: flex;
	}
	.title{
		display: flex;
		gap: 1rem;
		
	}
</style>
