---
import '../../styles/menu.css';
import Logo from './logo.astro'
---

<header>
    <Logo/>
    <nav>
        <ul class="menu">
            <li><a href="#">Blog</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Podcast</a></li>
            <li><a href="#">Github</a></li>
        </ul>
        <button class="trigger">

                <box-icon type='solid' name='moon' color='black'></box-icon>

            <!-- 
                <box-icon name='sun' type='solid' color='black' ></box-icon>
             -->
        </button>
    </nav>
</header>