---
import '../../styles/menu.css'
import Icon from '../icon.astro'

const theme = false;

---

<header>
    <Icon/>
    <nav>
        <ul class="menu">
            <li><a href="#">Blog</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Podcast</a></li>
            <li><a href="#">Github</a></li>
        </ul>
        <button id="themeToggle" class="trigger">
            {theme ? <box-icon name="sun" type="solid" color="black"/> : <box-icon name="moon" type="solid"  color="black"/>}
        </button>
    </nav>
</header>

<script>
    const sun  = '<box-icon name="moon" type="solid"  color="black"/>'
    const moon = '<box-icon name="sun" type="solid" color="black"/>'
    const trigger = document.getElementById('trigger');

    const theme = (() => {
        if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
        return localStorage.getItem('theme');
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        return 'dark';
        }
        return 'light';
    })();
        
    if (theme === 'light') {
        document.documentElement.classList.remove('dark');
    } else {
        document.documentElement.classList.add('dark');
    }

    window.localStorage.setItem('theme', theme);

    const handleToggleClick = () => {
        const element = document.body;
        element.classList.toggle("light");
        
        const isDark = element.classList.contains("dark");
        localStorage.setItem("theme", isDark ? "dark" : "light");
    }

    document.getElementById("themeToggle").addEventListener("click", handleToggleClick);
</script>