---

---

    <ul class="menu">
        <li><a href="/adrycode/blog">Blog</a></li>
        <li><a href="/adrycode/projects">Projects</a></li>
        <li><a href="/adrycode/podcast">Podcast</a></li>
        <li><a href="https://github.com/AdryanOvie2#">Github</a></li>
    </ul>