---

---

    <ul class="menu">
        <li><a href="/blog">Blog</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/podcast">Podcast</a></li>
        <li><a href="https://github.com/AdryanOvie2#">Github</a></li>
    </ul>