---

---

<nav>
    <ul class="menu">
        <li><a href="#">Blog</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Podcast</a></li>
        <li><a href="#">Github</a></li>
        <li><a href="#">B | W</a></li>
    </ul>
</nav>