---

---

<a href="/">
	<svg version="1.1" id="Capa_1" x="0px" y="0px" width="80px" height="50px"
	 viewBox="0 0 296 171.4" style="enable-background:new 0 0 296 171.4;" xml:space="preserve">
	<style type="text/css">
		.st0{fill:#f0db4f;}
	</style>
	<path class="st0" d="M30.6,79.1v21l96.3,27.8v-17.3l-20.3-5.3V74l20.3-5.4V51.3L30.6,79.1z M91.4,101.3L49.3,90.2V89l42.1-11.1
		V101.3z"/>
	<polygon class="st0" points="202.6,28.6 192.8,51 186.5,65.2 149.2,150.6 132.3,150.6 185.6,28.6 "/>
	<polygon class="st0" points="198.2,106.9 249,90.2 249,89 198.2,72.3 198.2,55.4 265.8,81.4 265.8,97.8 198.2,123.8 "/>
	</svg>
</a>