---
import '../styles/work.css'
---

<section class="works">
    <div class="works-tabs">
        <button class="work-links active">Technologys</button>
        <button class="work-links">Projects</button>
    </div>

    <section id="tech" class="work-content">
        <box-icon size="5rem" type='logo' name='html5'></box-icon>
        <box-icon size="5rem" type='logo' name='css3'></box-icon>
        <box-icon size="5rem" type='logo' name='bootstrap'></box-icon>
        <box-icon size="5rem" type='logo' name='javascript'></box-icon>
        <box-icon size="5rem" type='logo' name='git'></box-icon>
        <box-icon size="5rem" type='logo' name='github'></box-icon>
        <box-icon size="5rem" type='logo' name='nodejs'></box-icon>
        <box-icon size="5rem" type='logo' name='react'></box-icon>
        <box-icon size="5rem" type='logo' name='tailwind-css'></box-icon>
        <box-icon size="5rem" type='logo' name='typescript'></box-icon>
        <box-icon size="5rem" type='logo' name='mongodb'></box-icon>
        <box-icon size="5rem" type='logo' name='figma'></box-icon>
        <box-icon size="5rem" type='logo' name='wordpress'></box-icon>
        <box-icon size="5rem" type='logo' name='shopify'></box-icon>
    </section>
    <section id="project" class="work-content hidden">
        <h3>Projects</h3>
    </section>
</section>

<script>


    const buttons = document.querySelectorAll('button.work-links');
    const tabs = document.querySelectorAll('section.work-content');

    buttons.forEach((button, i) => {
        button.addEventListener('click', () => {
            // Agregar la clase "active" al botón que se hizo clic
            buttons.forEach((btn) => btn.classList.remove('active'));
            button.classList.add('active');

            // Ocultar todas las tabs
            tabs.forEach((tab) => tab.classList.add('hidden'));

            // Mostrar solo la tab correspondiente al botón que se hizo clic
            tabs[i].classList.remove('hidden');
        });
    });
</script>